* {
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: lightgray;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 50px;
}

#header > h1, h2, h3, h4, h5, h6 {
    margin: 0 20px;
    line-height: 50px;
    font-weight: normal;
}

#map {
    background: white;
    width: 100%;
    height: calc(100% - 200px);
    top: 50px;
    position: absolute;
    overflow: auto;
    cursor: zoom-in;
}

#map img {
    height: 100%;
}

#timeline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: gray;
}

#timeline canvas {
	display: block;
} 
