* {
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

#header {
	position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    background: rgba(191, 191, 191, 0.9);
    z-index: 1000;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    overflow: hidden;
}

#header > h1, h2, h3, h4, h5, h6 {
    margin: 0 20px;
    line-height: 50px;
    font-weight: normal;
    display: inline-block;
}

#header #controls {
	width: 100px;
	height: 30px;
	margin-right: 20px;
	display: inline-block;
	float: right;
	border: 1px solid gray;
	margin-top: 8px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	-webkit-user-select: none;
	color: rgb(82, 82, 82);
	font-size: 20px
}

#header #controls .controlElement {
	display: inline-block;
	width: 49px;
	text-align: center;
	line-height: 30px;
	float: left;
}

#header #controls .controlElement:hover {
	background-color: rgb(186, 186, 186);;
}

.controlElement:first-child {
	width: 50px !important;
}

.controlElement:last-child {
	border-left: 1px solid gray;
}

#header #coords {
	float: right;
	line-height: 50px;
	margin-right: 20px;
	color: rgb(82, 82, 82);
}

#header #mapControls {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

#header #mapControls img {
    -webkit-transition: 0.1s all;
}

#header #mapControls img.active {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

#header #mapControls img.inactive {
    opacity: 0.45;
}

#header #mapControls img:hover {
    opacity: 1;
}

#map {
    background: white;
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    overflow: auto;
    cursor: zoom-in;
}

#map::-webkit-scrollbars {
	display: none;
}

#map img {
    height: 100%;
}

#timeline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgba(191, 191, 191, 0.9);
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}

#timeline canvas {
	display: block;
}

#eventsList {
	position: absolute;
	top: 51px;
	width: 300px;
	left: -254px;
	height: calc(100% - 152px);
	overflow-y: scroll;
	background: rgba(191, 191, 191, 0.9);
	z-index: 100;
	-webkit-transition: 0.4s all;
	transition: 0.4s all;
}

#eventsList:hover {
	left: 0px;
}

#eventsList ul {
	list-style: none;
	padding-right: 46px;
	text-shadow: 0px 0px 5px white;
}

#eventsList ul li {
	margin-bottom: 20px;
	cursor: pointer;
}

#eventsList #label {
	-webkit-transform: rotate(90deg);
	position: absolute;
	right: -16px;
	top: 50%;
	color: rgb(82, 82, 82);
}

#eventsList h3 {
	color: rgba(72, 72, 72, 0.8);
	margin-top: 20px;
	text-shadow: none;
}

#eventsList::-webkit-scrollbar-track {
	background-color: rgba(97, 97, 97, 0.2);
}

#eventsList::-webkit-scrollbar {
	width: 6px;
	background-color: rgba(0,0,0,0);
}

#eventsList::-webkit-scrollbar-thumb {
	background-color: rgba(98, 98, 98, 0.0);
}

#eventsList:hover::-webkit-scrollbar-thumb {
	background-color: rgba(98, 98, 98, 0.47);
}

@supports (-webkit-backdrop-filter: blur(1px)) {
	#timeline, #eventsList, #header {
		-webkit-backdrop-filter: blur(7px);
		background: rgba(191, 191, 191, 0.68);
	}
}

body.dark {
	color: white;
}

body.dark #eventsList ul {
	text-shadow: 0px 0px 5px rgb(32, 32, 32);
	color: white;
}

body.dark #eventsList #label, body.dark #header #coords, body.dark #header #controls div {
	color: rgb(205, 205, 205);
}

body.dark #header #controls, body.dark #header #controls .controlElement:last-child {
	border-color: rgba(225, 225, 225, 1);
}

body.dark #header #controls .controlElement:hover {
	background-color: rgba(255, 255, 255, 0.19);
	color: rgba(220, 220, 220, 1);
}

body.dark #timeline {
	background: rgba(132, 132, 132, 0.9);
}

@supports (-webkit-backdrop-filter: blur(1px)) {
	body.dark #timeline, body.dark #eventsList, body.dark #header {
		-webkit-backdrop-filter: blur(7px);
		background: rgba(132, 132, 132, 0.68);
	}
}
